<%- include('../public/partials/header'); %>

  <div class="container">
    <div class="col-md-6 offset-md-3">
      <h6 style="background-color: green;border-radius:5px;padding:1%;color:white;">
        <i class="fa fa-check">Admin Successfully Created, Now <a href="/login" style="color:blue;">Login</a></i>
      </h6>
    </div>
  </div>

</body>
<%- include('../public/partials/footer'); %>
