<%- include('../public/partials/header'); %>
    <div class="gap" style="height:10vh"></div>
    <div class="container" style="min-height:80vh;">
      <div class="col-md-4 offset-md-4">
        <h5>Create an Administrative Account</h5>
        <div class="row">
          <form method="post" action="/createadmin" style="width:100%">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" name="name" id="name" placeholder="Enter Name">
            </div>
            <div class="form-group">
              <label for="name">Username</label>
              <input type="text" class="form-control" name="username" id="username" placeholder="Enter Userame">
            </div>
            <div class="form-group">
              <label for="name">Email ID</label>
              <input type="text" class="form-control" name="email" id="email" placeholder="Enter Email">
              <div class="message" style="color:red;"></div>
            </div>
            <div class="form-group">
              <label for="name">Contact No.</label>
              <input type="text" class="form-control" name="contactno" id="contactno" placeholder="Enter Contact No.">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" placeholder="Password" id="password" name="password">
            </div>
            <div class="form-group">
              <label for="password">Confirm Password</label>
              <input type="password" class="form-control" placeholder="Confirm Password" id="passwordConf" name="passwordConf">
            </div>
            <button type="submit" class="btn btn-info" style="width: 100%;" id="register">Register <i class="fa fa-arrow-circle-o-right"></i></button>
          </form>

        </div>
      </div>
    </div>

    <script>
    $('#email').on('focusout',()=>{
      var email = $('#email').val();
      $.post('/checkAdminEmail', {email:email},(data) => {
        if(data.count > 0){
          $('.message').html('<i class="fa fa-times"></i>EmailID Already Registered');
          $('#register').prop('disabled',true);
        }
        else{
          $('#register').prop('disabled',false);
        }
      });
    });
    </script>

<%- include('../public/partials/footer'); %>
